@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Silkscreen:wght@400;700&display=swap');
html {
  font-size: 62.5%;
}

body{
  background: linear-gradient(135deg, rgba(85, 18, 144, 0.795), rgba(79, 72, 143, 0.603), rgb(131, 94, 153));
  color: white;
  margin: 0;
}

body, button, input{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.MuiToolbar-root{
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 62, 188);
}

.header{
  background-color: #e033c4;
  color: #fbffff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.1em;
}

#search{
  margin: 0 1rem 0 0;
}

a{
  color: #fbffff;
  text-shadow: 0.1rem 0.1rem 0.5rem #a080bd;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 0.5rem 0 0.5rem;

}

.tab-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
}
.ant-form-item-explain-error, .ant-select-item-option-content, .ant-cascader-menu-item-content, .ant-input, .ant-tooltip-inner{
  font-family: "Lobster", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.4rem;
  }
  #title_header{
    display: none;
  }

  a {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  #search {
    margin: 1rem 0;
  }
}
