.header-container {
    flex-grow: 1;
    max-width: 100%;
  }

  .header-menu, .MuiMenu-list, .MuiMenu-paper{
    display: none;
  }
  
  .header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .header-logo {
    padding: 0.1rem 1rem 0.1rem;
    width: 6rem;
  }
  
  .header-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
  
  .header-search {
    display: flex;
    align-items: center;
  }
  
  .header-links {
    display: flex;
    align-items: center;
  }
  
  .header-link {
    margin-right: 1rem;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .header-link:last-child {
    margin-right: 0;
  }
  
  .header-link:hover {
    color: #ff90d1;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    width: 30rem;
  }
  
  .search-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0.8rem;
    border-radius: 2rem;
    font-size: 1.4rem;
  }
  
  .search-icon {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1rem;
    color: #561290;
  }
  .header-logo-link h2{
    padding-right: 1rem;
  }
  

  @media (max-width: 820px) {
    html{
        font-size: 60%;
    }
    .header-links {
      display: none !important;
    }
    .header-menu {
      display: flex !important;
      flex-direction: column !important;
    }
    .search-container{
        justify-content: center;
    }
    .search-input {
        flex: none
    }
    .MuiMenu-paper {
      display: block !important;
      background-color: transparent !important;
    }
    .MuiMenu-list {
      display: flex !important;
      flex-direction: column !important;
      background-color: rgba(255, 255, 255, 0.3) !important;
      backdrop-filter: blur(0.5rem) !important;
      padding: 1rem 1rem 1rem 1rem !important;
    }
    .menu-button {
      font-family: "Lobster", sans-serif !important;
      text-transform: none !important;
      color: white !important;
      font-size: 1.4rem !important;
    }
  }

  @media (max-width: 600px) {
    h2{
      display: none;
    }
    .search-input {
      width: 15rem !important;
    }
    .search-container {
      width: auto !important;
    }
  }
