.container-sign {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .divImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 4rem 0;
  }
  
  .img {
    width: 50%;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    background: rgba(255, 255, 255, 0.3);
    padding: 2rem 4rem 2rem 0;
    border-radius: 1rem;
  }
  
  .inputField {
    font-family: 'Lobster', sans-serif;
    font-weight: normal;
  }
  
  .formHeader {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Lobster', sans-serif;
    font-weight: 600;
  }

  .buttonContainer, .ant-select-selection-item {
    font-family: 'Lobster', sans-serif;
  }

  
  .buttonContainer{
    text-align: center;
    background-color: #e136c6;
    font-size: 1.6rem;
    border-radius: 1rem;
    padding: 1rem;
    text-shadow: 0.1rem 0.1rem 0.5rem #561290;
    transition: background-color 0.3s ease;
  }
  
  .label {
    font-family: 'Lobster', sans-serif;
    font-size: 1.6rem;
    overflow: visible;
  }
  
  .checkbox {
    font-family: 'Lobster', sans-serif;
    font-weight: 600;
  }
  .ant-col{
    overflow: visible!important;
  }

  .terminos:hover {
    color: #c12aa0;
  }

  @media (max-width: 1100px){
    .divImg{
      width: 30%;
    }
    .formContainer{
      width: 70%;
    }
  }

  @media (max-width: 800px){
    .divImg{
      display: none;
    }
    .formContainer{
      width: 100%;
      border-radius: 0;
    }

    .ant-row{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .formHeader{
      font-size: 1.8rem;
    }
    .buttonContainer, .label, .checkbox {
      font-size: 1.4rem !important;
    }

    .ant-col{
      display: flex;
      align-items: flex-start;
      align-items: center;
      padding: 1.5rem 0 0 0;
      overflow: visible;
    }
    .ant-form-item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .inputField{
      width: 30rem;
    }
    .checkbox{
      width: 30rem;
    }
  }
  @media (max-width: 575px) {
    .container {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      padding: 0 !important;
    }
    .ant-row{
      align-items: flex-start;
    }
    .ant-col{
      padding: 0 0 2rem 2rem;
    }
    .ant-form-item-required{
      padding: 1rem 0 0 2rem;;
    }
    .formHeader{
      font-size: 1.6rem;
      padding: 4rem 0 0 0;
    }
    .buttonContainer, .label, .checkbox {
      font-size: 1.2rem !important;
    }
  
    .formContainer {
      width: 100% !important;
      padding: 0 0 2rem 0 !important;
    }
  
    .inputField, .checkbox {
      width: 40rem !important;
    }
  
    .ant-form-item {
      display: block !important;
      text-align: center !important;
    }
  
    .buttonContainer {
      width: 100% !important;
      padding: 1rem !important;
    }
    .form-item-control {
      flex: none !important;
  }
}

@media (max-width: 500px) {
  .inputField, .checkbox {
    width: 35rem !important;
  }
}

@media (max-width: 430px) {
  .inputField, .checkbox {
    width: 32rem !important;
  }
}

@media (max-width: 400px) {
  .inputField, .checkbox {
    width: 27rem !important;
  }
}

  
  
  