@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Silkscreen:wght@400;700&display=swap');
html {
  font-size: 62.5%;
}

body{
  background: #fef1ff;
  color: white;
}

body, button, input{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.MuiToolbar-root{
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 62, 188);
}

.header{
  background-color: #e033c4;
  color: #fbffff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.1em;
}

#search{
  margin: 0 1rem 0 0;
}

a{
  color: #fbffff;
  text-shadow: 0.1rem 0.1rem 0.5rem #561290;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 0.5rem 0 0.5rem;

}

.tab-panel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #520e8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10.0rem + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
